/*------------- Common-CSS----------------*/


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    font-size: 14px;
}

/*Headers*/
h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'Staatliches', cursive, sans-serif;
    color: lightcoral
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
}

h7 {
    font-size: 20px;
    color: grey;
}

ul {
    padding-left: 0;
}

/*Add space between sections*/
section + section {
    margin-top: 50px;
}

.block-heading {
    background-repeat: repeat-x;
    height: 20px;
    margin: 60px 0;
    text-align: center;
}

.block-heading h2 {
    background: #fff;
    display: inline-block;
    color: #000;
    margin-top: -28px;
    padding: 5px 30px 10px 30px;
    border: 1px solid #dedede;
}

.block-heading h2:hover {
    box-shadow: 0 0 5px #dedede;
}

#back-top {
    position: fixed;
    bottom: 30px;
    width: 40px;
    color: #bbb;
    height: 50px;
    right: 30px;
    display: block;
    text-align: center;
    background: url("../images/top.png") no-repeat;
}


/*------------- Top bar----------------*/
#top {
    width: 100%;
    background: #DF303A;
    font-size: 12px;
    color: #fff;
    padding: 5px 0;

}

#top .contact-action {
    margin-bottom: 0;
}

#top p i {
    font-size: 16px;
    margin-right: 10px;
}

#top .login-cart li {
    float: left;
}

#top .login-cart li a {
    color: #fff;
    padding: 0 15px;
    font-size: 14px;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

#top .login-cart li a:hover {
    color: #555;
}

#top .login-cart li a i {
    margin-right: 3px;
}

header {
    padding: 40px 0;
    text-align: center;
}

/* LOGO Start================================================== */
a .logo {
    width: 200px;
    height: 200px;
}

/*carello custom css*/
.cart .dropdown {
    padding: 10px;

}

.cart .dropup .caret {
    margin-top: -36px;
    margin-left: -130px;
    text-align: left;
    border-bottom: 4px solid #FFF;
}

.cart .dropdown-menu {
    text-align: center;
    width: 220px;
    margin-top: 7px;
}

.cart .dropdown-cart-body {
    margin: 0 0 15px 0;
}

.cart .dropdown-menu img {
    border: 1px solid #dedede;
    border-radius: 100%;
    height: 64px;
    width: 64px;
    margin-left: 10px;
    padding: 8px;
}

.cart .dropdown-menu h6 {
    margin-top: 20px;
}

.cart .dropdown-menu h6 span {
    color: #DF303A;
}

.cart .dropdown-menu button {
    margin: 15px 0;
}


/*	Login Modal Start
    ==================================================*/

.login-label {
    color: black;
}


/*	Nav Start
    ==================================================*/

.nav-main li {
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    font-size: 17px;
}

.nav-main > li::before {
    top: -2px;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.nav-main > li:after {
    bottom: -2px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.nav-main > li::before,
.nav-main > li::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #DF303A;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s,
    -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

/*questo stronzo controlla l'animazione del menù*/
.nav-main > li:hover:before,
.nav-main > li:hover:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.nav-main > li a:hover, .nav-main > li a:focus {
    color: green;
}

.nav-main > li a {
    padding: 20px 15px;
    color: #555;
    font-size: 17px;
}

.navbar-nav {
    float: none;
    text-align: center;
}

.navbar-nav > li {
    float: none;
    display: inline-block;
    margin: 0 10px;
}

.nav-main .dropdown-menu a:hover {
    background: #fff;
}

.nav-main .dropdown-menu li a {
    color: #555;
    text-align: left;
    padding: 6px 10px;

}

.nav-main .dropdown-menu li:hover {
    color: #fff;
}

.navbar-nav .active {
    border-top: 2px solid #DF303A;
    border-bottom: 2px solid #DF303A;
    margin: -1px 0;
}

.navbar-nav .active a {
    background: #fff !important;
}

.nav-main .dropdown-menu li a:hover {
    color: #fff;
    background: #DF303A;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background: transparent;
}

.nav-main .dropdown-menu {
    margin-top: 5px;
    padding: 0;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 2px;
}


/*	 Slider Start
    ==================================================*/

#slider-area {
    margin-top: 30px;
}

.nivo-prevNav,
.nivo-nextNav {
    height: 40px;
    width: 40px;
    text-indent: 9999px;
    background-position: 0px 0px;
    -webkit-transition: margin 0.3s ease-in-out;
    -moz-transition: margin 0.3s ease-in-out;
    -ms-transition: margin 0.3s ease-in-out;
    -o-transition: margin 0.3s ease-in-out;
    transition: margin 0.3s ease-in-out;
    background-repeat: no-repeat;
}

.nivo-prevNav {
    background: url("../images/large_left.png");
    margin-left: -60px;
}

.nivo-nextNav {
    background: url("../images/large_right.png");
    margin-right: -60px;
}

.nivo-prevNav:hover {
    background-position: 0px -40px;
}

.nivo-nextNav:hover {
    background-position: 0px -40px;
}

#slider:hover .nivo-prevNav {
    margin-left: 20px;
}

#slider:hover .nivo-nextNav {
    margin-right: 20px;
}

.nivo-controlNav {
    display: none;
}

.nivo-caption {
    background: none;
}

.nivo-directionNav a {
    display: block;
}

.nivoSlider {
    border: 10px solid #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}


/*	 Feature Start
    ==================================================*/


#features .block {
    background: #DF303A;
    color: #fff;
    padding: 4px;
}

#features .block .media {
    border: 1px solid #fff;
}

#features .block .media-heading {
    margin-top: 10px;
    margin-bottom: 0;
    color: #fff;
}

#features .block i {
    font-size: 60px;
    margin: 15px 20px;
}


/*	 Catagorie Start
    ==================================================*/


#catagorie .block {
    margin-top: 30px;
}

#catagorie .block .thumbnail {
    border: none;
    cursor: pointer;
}

#catagorie .block .thumbnail:hover .catagotie-head img {
    opacity: 0.7;
}

#catagorie .block .thumbnail a img {
    width: 100%;
    border: 1px solid #dedede;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#catagorie .block .thumbnail a img:hover {
    opacity: 0.7;
}

#catagorie .block .thumbnail:hover h3 {
    color: #DF303A;
}

#catagorie .block .thumbnail a h3 {
    font-weight: 500;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#catagorie .block .thumbnail .caption p {
    font-size: 14px;
    color: #4b4b4b;
    font-weight: 300;
}

#catagorie .block .thumbnail .caption {
    padding: 0;
}

.catagorie-box p span {
    font-weight: bold;
}

.catagorie-box .catagotie-head h3 {
    color: #121212;
}

/*	 New Products Start
    ==================================================*/


.products-heading {
    margin-top: 20px;
    background-repeat: repeat-x;
}

.products-heading h2 {
    margin: 0px 0 20px;
    border-top: 5px solid #DF303A;
    display: inline-block;
}

.products {
    text-align: center;
    margin-bottom: 65px;
    cursor: pointer;
}

.products a img {
    width: 100%;
    border: 1px solid #dedede;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.products:hover a img {
    opacity: 0.7;
    border: 1px solid #DF303A;
}

.products:hover h4 {
    color: #DF303A;
}

.products a h4 {
    margin-top: 14px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.products a h4:hover {
    color: #DF303A;
}

#products + section {
    margin-top: 20px;
    margin-bottom: 30px;
}

.view-link {
    text-align: center;
    border: 1px solid #dedede;
    display: block;
    padding: 8px 10px;
    font-size: 17px;
    color: #555;
    font-weight: bold;
}

.view-link:hover {
    border: 1px solid #DF303A;
}

.view-link:hover i {
    color: #fff;
}

.view-link i {
    padding-right: 10px;
    color: #555;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.price {
    font-size: 22px;
    color: #DF303A;
    font-weight: bold;
    margin-bottom: 8px;
}


/*	 Call To Action Starta:
    ==================================================*/


/*	 Footer Start
    ==================================================*/

footer {
    background: #383838;
    color: #fff;
    padding-top: 40px;
}

footer .block {
    color: #B6B6B6;
}


.footer-bottom {
    width: 100%;
    margin-top: 70px;
    border-top: 1px solid #2C2C2C;
    box-shadow: 0 -1px 0 #575656;
    padding-top: 10px;
}

.copyright-text {
    margin-top: 12px;
    color: #B6B6B6;
}

.copyright-text a {
    color: #DF303A;
}

.copyright-text a:hover {
    text-decoration: underline;
}


/*	Shop button animation
    ==================================================*/


.shutter {
    position: relative;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;

}

.shutter:before {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: block;
    content: "";
    position: absolute;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    z-index: -1;
}

.shutter:hover:before {
    height: 100%;
    background: #DF303A;
    color: #fff;
}

.shutter:hover {
    color: #fff;

}


/*	Owl Slider Start
    ==================================================*/
#owl-example {
    cursor: pointer;
}

#owl-example img {
    width: 100%;
}

.owl-theme .owl-controls {
    margin-top: 0;
    margin-bottom: 20px;
}

.connect-heading {
    margin-top: 40px;
}


/*	End Of Home Page.......
    ==================================================*/


/*	Shop Page Start.......
    ==================================================*/


.product-grid ul {
    text-align: center;
}

.product-grid ul li {
    width: 33%;
    text-align: center;
    padding: 10px 20px 0 0px;
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 57em) {
    .product-grid ul li {
        width: 49%;
    }
}

@media screen and (max-width: 40.125em) {
    .product-grid ul li {
        width: 100%;
    }
}


#shop .products-heading h2 {
    font-size: 30px;
}

.pagination-bottom {
    text-align: center;
}

.pagination-bottom .pagination .active a {
    background: #DF303A;
    border: 1px solid #DF303A;
    color: #fff;
}

.pagination-bottom .pagination a {
    color: #333;
}


/*----------------------------navbar sticky */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/****** used for the checkout table  ***********/
.checkoutIMG {
    border: 1px solid #dedede;
    border-radius: 100%;
    height: 64px;
    width: 64px;
    margin-left: 10px;
    padding: 8px;
    margin-right: 10px;
    vertical-align: middle
}

/**use for range slider**/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.product_image{
    width: 100px;
    height: 100px;
}

